services:
  nginx:
    build: 
      context: .
      dockerfile: environment/Dockerfile
    ports:
      - "${HTTP_PORT}:80"
    environment:
    - NGINX_PORT=80
    volumes:
        - ./:/workspace
        - ./:/var/www/api
    working_dir: /workspace
    stdin_open: true
    tty: true
    restart: unless-stopped

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    restart: unless-stopped
    volumes:
        - mailpit_data:/data
    ports:
        - 8025:8025
        - 1025:1025
    environment:
        MP_MAX_MESSAGES: 5000
        MP_DATABASE: /data/mailpit.db
        MP_SMTP_AUTH_ACCEPT_ANY: 1
        MP_SMTP_AUTH_ALLOW_INSECURE: 1

volumes:
  mailpit_data: